<div class="container ">
    <h1 class="text-center">Welcome to github Search for Users</h1>
<div class="justify-content-center row mt-5">
    <input class=" col-6 mr-sm-2 form-control" [(ngModel)]="username" name="username" type="search" placeholder="Search" aria-label="Search">
    <button class="col-2 btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSubmit()">Search</button>
</div>


<!-- <div class="row" *ngIf=>
    <div class="col-6">
        <img [src]="userObject.avatar_url" alt="">
    </div>
    <div class="col-6">
        <a [href]="userObject.html_url">{{ userObject.name }}</a>
    </div>
    </div>
    <div class="row">
    <div class="col-6">
        <a [href]="userObject.followers_url">{{ userObject.follower }}</a>
    </div>
    <div class="col-6">
        <a [href]="userObject.email">{{ userObject.email }}</a>
    </div>
</div>
</div> -->
<div class="container mt-5" *ngIf="hide">
    
    <div class="row">
      <div class="col-sm">
        
    
      <a class="btn btn-primary" href="{{userObject.html_url}}" role="button">{{userObject.name}}</a>
      </div>
      <div class="col-sm">
        <h5>ID:{{userObject.id}}</h5>
      </div>
      <div class="col-sm">
        <img src="{{userObject.avatar_url}}" class="img-fluid" alt="Responsive image" style="width: 150px;">
      </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm">
          
            <h5> Number of Followers: {{userObject.followers}}</h5>
        </div>
        <div class="col-sm">
          <h5>Number of Following: {{userObject.following}}</h5>
        </div>
        <div class="col-sm">
            <h5>Total Number of Repository: {{userObject.public_repos}}</h5>
        </div>
      </div>
    </div>  

  </div>